PORT=8000
NODE_ENV=development
DB_TYPE=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=bill-split
DB_USERNAME=
DB_PASSWORD=
ENTITIES_PATH_GLOB=**/*.entity{.js,.ts}
MIGRATIONS_PATH_GLOB=db/migrations/**/*{.js,.ts}
RUN_MIGRATIONS=true
